@use '../base/variables' as *;

.tabs__button {
  width: 10.5rem;
  height: $button-height;
  background-color: $background-color;
  cursor: pointer;
  border: $button-border;

  &:hover,
  &--active {
    background-color: $primary-color;
    color: $font-color-text-button;
    border: $button-border-active;
    border-radius: $button-border-radius;
  }

  &--active {
    background-color: $primary-color;
    color: $font-color-text-button;
    border: $button-border-active;
    border-radius: $button-border-radius;
  }
}

.content__button {
  font-family: $font-family;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 31.38rem;
  height: $button-height;
  background-color: $primary-color;
  color: $font-color-text-button;
  border: $button-border-active;
  border-radius: 0.31rem;
}
