@use '../base/variables' as *;

.select {
  font-family: $font-family;
  width: $select-width;
  max-height: $select-max-height;
  display: flex;
  flex-direction: column;
  border: 1px solid $select-border-color;
  justify-content: flex-start;
  align-items: center;
  border-radius: $select-border-radius;
  box-shadow: $select-box-shadow;
  background: $background-color;
  padding-bottom: $select-padding-bottom;

  .title {
    color: $font-color;
    font-size: $title-font-size;
    line-height: $title-line-height;
    text-align: left;
    text-transform: uppercase;
    padding: $title-padding;
  }
}
