@font-face {
  font-family: 'Open Sans', sans-serif;
  src:
    url('@/assets/fonts/OpenSans-Light') format('ttf'),
    url('@/assets/fonts/OpenSans-Regular') format('ttf'),
    url('@/assets/fonts/OpenSans-SemiBold') format('ttf'),
    url('@/assets/fonts/OpenSans-Medium') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
