@use './style/main' as *;

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.main {
  margin-top: 54px;
  display: flex;
  gap: 20px;
}
.content {
  display: flex;
  flex-direction: column;
}
