@import './style/main.scss';

body {
  font-family: $font-family;
}
.container {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.select {
  margin-top: 20px;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
